{% extends "base.html" %}
{% block content %}

<section class="quiz-wrapper">

    <div class="quiz-card fade-in" id="quiz-box">

        <div class="quiz-top">
            <div class="progress-text" id="progress"></div>
            <div class="progress-bar">
                <div class="progress-fill" id="progress-fill"></div>
            </div>
        </div>

        <h2 id="question" class="question-text"></h2>

        <div id="answers" class="answers-grid"></div>

        <div class="quiz-actions">
            <button id="next-btn" class="btn-primary" onclick="nextQuestion()" disabled>
                Next →
            </button>

            <button id="submit-btn" class="btn-primary" onclick="submitQuiz()" style="display:none;">
                Finish Quiz
            </button>
        </div>

    </div>

</section>
{% endblock %}